#temporary files
.*
*~
*~*
#*

#cernbox conflict files
*conflict*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.pyc

# Executables
*.exe
*.out
*.app

# Data and output Files
*.root
*_Ascii*
*.log
*.eps
*.pdf
*.png
*.txt